<h1>followers</h1>

<% @users.each do |user| %>
  <p><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "200x200" %><%= user.name %></p>
  <div id="follow-btn">
    <% if user_signed_in? %>
      <%= render 'relationships/follow-btn', user: user %>
    <% end %>
  </div>
<% end %>