<div class="text-center">
  <div class="about-img"></div>
  <h1 class="about-ttl">Welocme To Our Website!!</h1>
  <p class="about-text">このサイトは旅先でのお写真や日常で目にした風景などを投稿するサイトです。<br>
     写真を撮ったはいいけれど、フォルダの中で埋もれたままになっている。<br>
     せっかく取れた綺麗な写真を誰かと共有したい。<br>
     そんな貴方におすすめです。<br>
     写真の保管場所として使用する。あるいは人と共有する為に写真を載せる。<br>
     どのような使い方でも構いません。使用方法は貴方次第です。<br>
     早速試しに、貴方のお気に入りの写真を投稿してみませんか？
  </p>
</div>