  <div>
    <% tags.each do |tag| %>
      <% if tag.post_images.present? %>
        <span>
          <%= link_to post_images_path(tag_id: tag.id) do %>
            # <%= tag.tag_name %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
